<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093391759674-34p7rpj6frb7btc65o0i9mi529k5h22r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093391759674-34p7rpj6frb7btc65o0i9mi529k5h22r</string>
	<key>API_KEY</key>
	<string>AIzaSyBPSrPkhphi6TIK79x6a9FmoulCHuORfWw</string>
	<key>GCM_SENDER_ID</key>
	<string>1093391759674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deblur.GoogleAuthExample</string>
	<key>PROJECT_ID</key>
	<string>loginhandler-58359</string>
	<key>STORAGE_BUCKET</key>
	<string>loginhandler-58359.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093391759674:ios:77be943d3c57ae9ef43803</string>
</dict>
</plist>